@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap|Sofia");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-dark-bg: #1d2a35;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-secondary: hsla(182, 63%, 54%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;

    /* variables for the current page*/
    --bg-body-color: var(--clr-grey-10);
    --body-color: var(--clr-grey-5);
    --header-color: var(--clr-grey-1);
}

/*
  Global Styles
  */
html {
    scroll-behavior: smooth;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Public Sans",
        sans-serif;
    background: var(--clr-grey-10);
    color: var(--body-color);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: var(--header-color);
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}



h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}


p {
    margin-bottom: 1.25rem;

}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2 {
        line-height: 1;
    }
}

img{
    width: 100%;
    object-fit: contain;
}

.nav-toggle-btn {
    font-size: 1.5rem;
    color: var(--clr-grey-2);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}


.nav-toggle-btn:hover {
    color: var(--clr-secondary);
}
/*hide the nav toggle by=tn*/
.nav-toggle-btn.hide-toggle-btn{
    display:none
}

/* header style*/
#header{
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: hsl(208, 29%, 16%,0.9);
    z-index: 100;
    box-shadow: var(--dark-shadow);
}

.links{
    display: flex;
    flex-wrap: wrap;
}

.links a {
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover {
    color: var(--clr-primary-3);
}

.links a {
    margin: 0 1rem;
}

.home{
    display:grid;
    grid-template-columns: 1fr;
    max-width:100vw;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    color: var(--clr-white);
    padding: 4rem;
    padding-top: 7rem;
    background-color: var(--clr-dark-bg);
}

/* home media query for tablet and laptop*/
@media screen and (min-width : 992px) {
.home{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
}
/*=============================*/

.home span{
    color:red;
}

.home h1{
    font-size: 3rem;
    color: var(--clr-white);
    text-align: center;
}
.home-text{
    text-align: center;
}
.home-img-container {
    height: 70vh;
    display: flex;
    overflow: hidden;

}

/*about section style*/
.about{
    background-color:var(--clr-black) ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    
}

.about-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    justify-content: center;
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.2rem;
    box-shadow: var(--dark-shadow);
}



/* about media query for tablet and laptop*/
@media screen and (min-width : 992px) {
.about-item{
    flex-direction: row;
}
.about-item:nth-of-type(2){
    flex-direction: row-reverse;
}
}
/*=================================*/

/*.about-item:nth-of-type(2){
    background-color:var(--clr-grey-3);
    color: var(--clr-white);
}*/

.about-item{
    color: hsl(0, 0%, 100%, 0.7);
}

.about-item h1{
color: hsl(0, 0%, 100%, 0.7);
}


.about-item h1::after{
    content: "";
    height: 0.2rem;
    width: 6rem;
    background-color: red;
    display: block;
}

/*rum section style*/
.our-rums{
    background-color: var(--clr-black);
    color:#fff;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-rums h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--clr-white);
}

.our-rums h1 span{
    color: red;
}
.rum-container{
    display: grid;
    grid-template-columns:  80%;
    row-gap: 3rem;
    justify-content: center;
}

/* rum-container media query for table and laptop*/
@media screen and (min-width:992px) {
    .rum-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 3rem;
    }
}
@media screen and (min-width:992px){
    .rum-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 3rem;
        }
}
/*=============================================*/

.rum{
    height: 15rem;
    background-color:rgba(42, 43, 43, 0.8); 
    border-radius: 0.3rem;
    
}

.rum img{
    border-radius: 0.3rem 0.3rem 0 0;
    max-width: 100%;
    object-fit: contain;
    max-height: 70%;
    background-color: var(--clr-dark-bg);
}

.rum-paragraph{
    border-radius: 0 0 0.3rem 0.3rem;
    color: var(--clr-white);
    text-align: center;
    opacity: 0.9;
    padding: 1rem;


}

/*logo style*/
.logo-link{
    position:relative;

}

.logo-text{
    position:absolute;
    font-size: 1rem;
    font-weight: 400;
    bottom:-0.8rem;
    left: 3.2rem;
    color: var(--clr-white);
    
}

.logo{
    width: 10rem;
}
/*========================*/

/*contact*/
#contact{
    padding: 2rem;
}

#contact h1{
    font-size: 2rem;
    text-align: center;
}
.contact{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-control{
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    background-color: transparent;
    border: none;
    border-bottom:2px solid var(--clr-primary-5);
}

.form-control:focus{
    outline: none;
    border-bottom: 2px solid var(--clr-primary-3);
}

.btn-submit{
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--clr-primary-5);
    border: none;
    transition: var(--transition);
    color:var(--clr-white);
    font-weight: 600;
    letter-spacing: var(--spacing);
}

.btn-submit:hover{
    background-color:var(--clr-primary-3) ;
}

.mapouter{
    width: 100%;
    max-width: 100%;
}

iframe{
    width: 100%;
}

/* footer section*/
footer{
    background-color: var(--clr-dark-bg);
    padding: 1rem;
    text-align: center;
    color: var(--clr-white);
}
footer .logo{
    width: 12rem;
    padding-bottom: 0;
}

footer .footer-social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-link-container{
    margin-bottom: 2rem;
}


/* footer media query*/
@media screen and (min-width : 768px){
    footer .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (min-width : 992px) {
    .contact{
        grid-template-columns: 1fr 1fr;
    }

    #contact h1{
        text-align: left;
    }

    
}

